{{! discourse-sms-login/assets/javascripts/discourse/templates/reset-password-success.hbs }}
<div class="reset-password-success">
  <h2>密码重置成功</h2>
  
  <div class="success-icon">
    <i class="fa fa-check-circle"></i>
  </div>
  
  <p>新密码已设置成功，正在跳转到首页...</p>
  
  <div class="countdown">
    <span>{{this.countdown}}</span> 秒后自动跳转
  </div>
  
  <button class="btn btn-primary" {{action "goHome"}}>立即前往首页</button>
</div>